/* Mobile Version */
html 
{
 	font-family: 'Poppins', sans-serif;
  margin-left: 50px;
  margin-top: 30px;
  background-color: #e4f5fe;
}

form
{
  font-size: larger;
  margin-right: 200px;
}  

h1
{
	font-family: 'Gemunu Libre', sans-serif;
  font-size: 35px;
  margin-bottom: 25px;
  
}

legend
{
  font-weight: bold;
  font-size: 23px;
}

label
{
  display: block;
  margin: 0.5em;
}

input
{
  display: block;
  width: 14em;
  margin-top: 0.5em;
  cursor: pointer;
  padding: 0.4em 0.6em;
}

  input[type="submit"],
  input[type="reset"] {
    width: 5em;
    margin-top: 15px;
    margin-left: 10px;
    display: inline-block;
  }

/* Desktop Version */
@media (min-width: 1500px)
{

label
{
  font-size: 1.5em;
}

input
{
  display: inline-block;
  border: 1px;
}
 
}