html 
{
 	font-family: 'Poppins', sans-serif;
  margin-left: 50px;
  margin-top: 40px;
}
	
h1
{
	font-family: 'Lato', sans-serif;
  font-size: 35px;
   font-weight: bold;
  color:#00BFFF;
  margin-bottom: 20px;
}

label
{
  display: block;
  margin: 0.5em;
}

input
{
  display: block;
  width: 5em;
  margin-top: 1.5em;
   cursor: pointer;
}