html 
{
 	font-family: 'Poppins', sans-serif;
  margin-left: 50px;
  margin-top: 40px;
}
	
h1
{
	font-family: 'Ubuntu', sans-serif;
  font-size: 35px;
  color:#00BFFF;

 
   
    
}

label
{






}

input
{







}